<table>
  <caption>
    Departures  
  </caption>

  <colgroup>
    <col span="4" style="background-color: rgb(216, 233, 236);">
    <col style="background-color: rgb(222, 245, 248);">
  </colgroup>

  <thead>
    <tr>
      <th> Flight number</th>
      <th> Airline </th>
      <th> Route </th>
      <th> Delay </th>
      <th style="background-color: rgb(237, 221, 78);"> Departure </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> X1830 </td>
      <td> <img src="" alt=""> Airline X </td>
      <td> Airport Ag. -> Airport Bg.</td>
      <td> <span class="no-delay-style"> On time </span> </td>
      <td class="departure-style-active"> 18:30 </td>
    </tr>

    <tr>
      <td> Y1345 </td>
      <td> Airline Y </td>
      <td> Airport Ag. -> Airport Cg. </td>
      <td> <span class="delay-style"> 20 min. delay </span> </td>
      <td class="departure-style-active"> <s> 18:45 </s> 19:05 </td>
    </tr>

    <tr>
      <td> Z43 </td>
      <td> Airline Z </td>
      <td> Airport Ag. -> Airport Eg. </td>
      <td> <span class="no-delay-style"> On time </span> </td>
      <td class="departure-style-active"> 19:10 </td>
    </tr>

    <tr>
      <td> X1631 </td>
      <td> Airline X </td>
      <td> Airport Ag. -> Airport Fg. </td>
      <td> <span class="no-delay-style"> On time </span> </td>
      <td class="departure-style-active"> 19:45 </td>
    </tr>

    <tr>
      <td> G413 </td>
      <td> Airline G </td>
      <td> Airport Ag. -> Airport Bg. </td>
      <td> <span class="flight-cancelled-style"> Flight cancelled </span> </td>
      <td class="departure-style-inactive"> <s> 20:00 </s> </td>
    </tr>
  </tbody>

</table>
