<table>

  <tr>
    <td>1. cell</td>
    <td>2. cell</td>
    <td>3. cell</td>
    <td>4. cell</td>
  </tr>

  <tr>
    <td>1. cell</td>
    <td>2. cell</td>
    <td>3. cell</td>
    <td>4. cell</td>
  </tr>

  <tr>
    <td>1. cell</td>
    <td>2. cell</td>
    <td>3. cell</td>
    <td>4. cell</td>
  </tr>

  <tr>
    <td>1. cell</td>
    <td>2. cell</td>
    <td>3. cell</td>
    <td>4. cell</td>
  </tr>

  <tr>
    <td>1. cell</td>
    <td>2. cell</td>
    <td>3. cell</td>
    <td>4. cell</td>
  </tr>
  
  <tr>
    <td>1. cell</td>
    <td>2. cell</td>
    <td>3. cell</td>
    <td>4. cell</td>
  </tr>

</table>