<table>
  <caption>
    Departures
  </caption>

  <thead>
    <tr>
      <th class="table-top-left"> Flight number</th>
      <th> Airline </th>
      <th> Destination </th>
      <th> Delay </th>
      <th>
        Departure
        <span class="departure-plane">
          <i class="fa-solid fa-plane-departure"></i>
        </span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> X1830 </td>
      <td> <img src="" alt=""> Airline X </td>
      <td>
        Airport Bg.
      </td>
      <td> <span class="no-delay-style"> On time </span> </td>
      <td class="departure-style-active"> 18:30 </td>
    </tr>

    <tr>
      <td> Y1345 </td>
      <td> Airline Y </td>
      <td> Airport Cg. </td>
      <td> <span class="delay-style"> 20 min. delay </span> </td>
      <td class="departure-style-active"> <s> 18:45 </s> 19:05 </td>
    </tr>

    <tr>
      <td> Z43 </td>
      <td> Airline Z </td>
      <td> Airport Eg. </td>
      <td> <span class="no-delay-style"> On time </span> </td>
      <td class="departure-style-active"> 19:10 </td>
    </tr>

    <tr>
      <td> X1631 </td>
      <td> Airline X </td>
      <td> Airport Fg. </td>
      <td> <span class="no-delay-style"> On time </span> </td>
      <td class="departure-style-active"> 19:45 </td>
    </tr>

    <tr>
      <td> G413 </td>
      <td> Airline G </td>
      <td> Airport Bg. </td>
      <td> <span class="flight-cancelled-style"> Flight cancelled </span> </td>
      <td class="departure-style-inactive"> <s> 20:00 </s> </td>
    </tr>
  </tbody>

</table>