:host {
  width: 1200px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  background-color: rgb(220, 228, 235);
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

caption {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}

.departure-style-active {
  font-size: 19px;
}

.departure-style-inactive {
  font-size: 19px;
  color: rgb(124, 149, 151);
}

.departure-plane {
  margin-left: 5px;
}

.no-delay-style {
  font-size: 16px;
  padding: 0%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(150, 234, 150);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 137, 32);
  font-weight: 400;
}

.delay-style {
  font-size: 16px;
  padding: 0%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(234, 195, 150);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(137, 89, 0);
  font-weight: 400;
}

.flight-cancelled-style {
  font-size: 16px;
  padding: 0%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(234, 150, 150);
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: 1px solid rgb(137, 0, 0);}

thead {
  background-color: rgb(184, 164, 231);
  color: rgb(10, 0, 44);
}


tr:hover {
  cursor: pointer;
}

img {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

th {
  font-size: 20px;
  height: 45px;
  font-weight: 700;
}

td {
  height: 70px;
  font-size: 18px;
  font-weight: 600;
}

th,
td {
  border-bottom: 1px solid rgb(126, 136, 145);
  text-align: center;
}